 <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="../assets/img/gsg_home.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="../assets/img/image5_m.jpg" alt="">
                </a>
            </div>
        </div>



<!--<div class="container">

 <div class="row">
        <div class="box">
            <div class="col-lg-8">
   <img class="img-responsive img-border " src="../assets/img/gsg_home.jpg" alt="" style="width:10%" >
    <img class="img-responsive img-border " src="../assets/img/gsg_gavya.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/image2.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image3.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image4.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image5.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image6.JPG" alt="">
    <img class="img-responsive img-border " src="../assets/img/image7.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image8.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image9.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image10.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/image11.JPG" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg16.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg13.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/image12.JPG" alt="">
            </div>
        </div>
 </div>      

    </div>-->