 <div class ="container">
 <div class="row">
            <div class="box">
  
  <div class="col-md-6">
                    
                    <h2 class="intro-text text-center">What is A2 Milk?
                       
                        </h2>
                        <p>


A2 milk is pure dairy milk, completely natural and additive free, which is why it tastes so refreshing. Most cows milk today contains 2 main types of beta-casein protein, A2 and A1. Originally, India was totally a A2 producing country as our desi, native indigenous breeds all with a hump produces A2 milk. The imported breeds viz., HF, Jersey etc etc produce mainly A1 type . A1 milk is associated with diabetics, Cardio problems & other health related issues.
 
We have chosen GIR native breed which is considered the best breed producing A2 milk.. switch to A2 milk.
                        </p>

                    
                    
                </div>
               
  
  <div class="col-md-6">
                    
                    <h2 class="intro-text text-left">IS A2 MILK FOR THOSE WHO ARE LACTOSE INTOLERANT?
                       
                        </h2>
                        <p>


A2 milk is pure dairy milk, completely natural and additive free, which is why it tastes so refreshing. Most cows milk today contains 2 main types of beta-casein protein, A2 and A1. Originally, India was totally a A2 producing country as our desi, native indigenous breeds all with a hump produces A2 milk. The imported breeds viz., HF, Jersey etc etc produce mainly A1 type . A1 milk is associated with diabetics, Cardio problems & other health related issues.
 
We have chosen GIR native breed which is considered the best breed producing A2 milk.. switch to A2 milk.
                        </p>

                    
                    
                </div>
                 <div class="clearfix"></div>
            </div>
 </div>
 </div>