<div class="container">

 <div class="row">
        <div class="box">
            <div class="col-lg-8">
   <img class="img-responsive img-border " src="../assets/img/gsg_home.jpg" alt="">
    <img class="img-responsive img-border " src="../assets/img/gsg_gavya.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg4.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg5.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg6.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg7.jpg" alt="">
   <img class="img-responsive img-border " src="../assets/img/gsg8.jpg" alt="">
            </div>
        </div>
 </div>      

    </div>